@font-face {
  font-family: 'Avenir';
  src: url("../fonts/AvenirNext-Regular.ttf");
  font-weight: 300; }
@font-face {
  font-family: 'Avenir Next';
  src: url("../fonts/AvenirNext-Bold.ttf");
  font-weight: bold; }
@font-face {
  font-family: 'Avenir Next';
  src: url("../fonts/Avenir-Light.ttf");
  font-weight: 100; }
* {
  box-sizing: border-box; }

body {
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Avenir Next'; }

h1, h2, h3 {
  font-family: 'Avenir';
  font-weight: 100;
  letter-spacing: 2px; }

.light {
  font-family: 'Avenir Next';
  font-weight: 100; }

*::selection {
  background: rgba(255, 172, 86, 0.3); }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  font-size: 14px; }

.text-center {
  text-align: center; }

.btn {
  padding: 1rem 3rem;
  display: inline-block;
  transition: all .4s; }
  .btn--brown {
    background: #292826;
    color: #fff; }
  .btn:hover {
    background: #1f1e1d; }

#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  pointer-events: none; }
  #loader .logo-loader {
    position: relative;
    max-width: 250px;
    z-index: 10;
    animation: fadeOut .8s;
    animation-fill-mode: forwards;
    animation-delay: 2s; }
    #loader .logo-loader img {
      width: 100%; }
    #loader .logo-loader small {
      text-align: center;
      display: block;
      color: #fff; }
      #loader .logo-loader small span {
        animation-name: blink;
        animation-duration: 1.4s;
        animation-iteration-count: infinite;
        animation-fill-mode: both; }
        #loader .logo-loader small span:nth-child(2) {
          animation-delay: .2s; }
        #loader .logo-loader small span:nth-child(3) {
          animation-delay: .4s; }
  #loader .lines {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }
    #loader .lines .line {
      flex: 1;
      background: #9b9590; }
      #loader .lines .line:first-child {
        animation: slideLeft .8s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        animation-delay: 2.1s; }
      #loader .lines .line:nth-child(2) {
        animation: slideRight .8s;
        animation-delay: 2.2s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out; }
      #loader .lines .line:nth-child(3) {
        animation: slideLeft .8s;
        animation-delay: 2.6s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out; }
      #loader .lines .line:nth-child(4) {
        animation: slideRight .8s;
        animation-delay: 2.8s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out; }
        @media (max-width: 767px) {
          #loader .lines .line:nth-child(4) {
            display: none; } }

@keyframes slideLeft {
  to {
    transform: translate3d(100%, 0, 0); } }
@keyframes slideRight {
  to {
    transform: translate3d(-100%, 0, 0); } }
@media (max-width: 767px) {
  nav.desktop-menu {
    display: none; } }
@media (min-width: 768px) {
  nav.mobile-menu {
    display: none; } }
nav.mobile-menu .black-fade {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  left: 0;
  top: 0;
  z-index: 8999;
  display: none; }
nav.mobile-menu .menu-box {
  background: rgba(34, 34, 34, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 9000;
  transition: all .4s;
  transform: translateX(100%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }
  nav.mobile-menu .menu-box ul li a {
    color: #fff;
    padding: .75rem;
    display: block;
    font-size: 1.5rem; }
nav .logo {
  display: flex;
  justify-content: center;
  padding: 2rem 0; }
nav .menu-wrap {
  max-width: 900px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: .5rem; }
  nav .menu-wrap ul {
    display: flex;
    justify-content: center; }
    nav .menu-wrap ul li a {
      display: block;
      color: #fff;
      padding: .2rem 2rem;
      transition: all .4s;
      font-size: 14px; }
      @media (min-width: 1200px) {
        nav .menu-wrap ul li a {
          font-size: 1vw; } }
      @media (max-width: 767px) {
        nav .menu-wrap ul li a {
          padding: .2rem 1rem; } }
      nav .menu-wrap ul li a:hover {
        color: #999; }
    nav .menu-wrap ul li:first-child a {
      padding-left: 0; }

.mobile-logo {
  margin-top: 1rem; }

.menu-opened .mobile-menu .black-fade {
  display: block; }
.menu-opened .mobile-menu .burger-icon {
  position: fixed; }
  .menu-opened .mobile-menu .burger-icon .bottom-bar {
    transform: rotate(-45deg);
    left: 5px; }
  .menu-opened .mobile-menu .burger-icon .middle-bar {
    opacity: 0; }
  .menu-opened .mobile-menu .burger-icon .top-bar {
    transform: rotate(45deg);
    left: 5px; }
.menu-opened .menu-box {
  transform: translateX(0) !important; }

.section--hero {
  min-height: 700px;
  background-size: cover; }
  .section--hero.page {
    min-height: 400px; }
    .section--hero.page .hero-content {
      padding-top: 3rem; }
  .section--hero .hero-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 7rem; }
    .section--hero .hero-content h2 {
      color: #fff;
      font-size: 3rem;
      margin-bottom: 1rem; }
      @media (min-width: 1200px) {
        .section--hero .hero-content h2 {
          font-size: 3vw; } }
    .section--hero .hero-content button {
      outline: 0;
      background: #fff;
      border-radius: 0;
      border: none;
      padding: .75rem 1.5rem;
      font-size: 1rem;
      transition: all .4s;
      cursor: pointer; }
      @media (min-width: 1200px) {
        .section--hero .hero-content button {
          font-size: 1.2vw; } }
      .section--hero .hero-content button:hover {
        transform: translateY(5px); }
  @media (max-width: 767px) {
    .section--hero {
      min-height: auto; }
      .section--hero .hero-content {
        padding: 3rem 0; } }
.section--brands header {
  max-width: 600px;
  margin: 0 auto;
  padding: 3rem 0;
  background: #fff; }
  .section--brands header ul {
    display: flex;
    justify-content: space-between; }
    .section--brands header ul li {
      font-size: 2rem;
      border-bottom: 3px solid;
      border-color: transparent;
      transition: all .4s; }
      .section--brands header ul li:hover {
        border-color: black; }
  @media (max-width: 767px) {
    .section--brands header ul {
      justify-content: space-around; }
      .section--brands header ul li {
        font-size: 1.25rem; } }
.section--brands .brands article {
  min-height: 650px;
  display: flex; }
  @media (max-width: 900px) {
    .section--brands .brands article:nth-child(even) .brand-preview {
      order: 1; }
    .section--brands .brands article:nth-child(even) .brand-description {
      order: 0; } }
  @media (max-width: 767px) {
    .section--brands .brands article {
      min-height: auto; } }
  .section--brands .brands article .brand-description {
    background: #fff;
    padding: 4rem;
    width: 35%;
    min-width: 350px; }
    @media (max-width: 767px) {
      .section--brands .brands article .brand-description {
        padding: 2rem; } }
    .section--brands .brands article .brand-description h2 {
      font-size: 2rem; }
    .section--brands .brands article .brand-description p {
      font-size: 1rem; }
    @media (min-width: 1200px) {
      .section--brands .brands article .brand-description h2 {
        font-size: 2.5vw; }
      .section--brands .brands article .brand-description p {
        font-size: 1.1vw; } }
  .section--brands .brands article .brand-preview {
    background: #9b9590;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 8vw 0;
    position: relative; }
    .section--brands .brands article .brand-preview .next-mobile,
    .section--brands .brands article .brand-preview .prev-mobile {
      position: absolute;
      background: #716f6e;
      top: -17px;
      padding: .25rem;
      z-index: 8888;
      display: flex;
      height: 32px; }
      @media (min-width: 901px) {
        .section--brands .brands article .brand-preview .next-mobile,
        .section--brands .brands article .brand-preview .prev-mobile {
          display: none; } }
      .section--brands .brands article .brand-preview .next-mobile img,
      .section--brands .brands article .brand-preview .prev-mobile img {
        width: 30px; }
    .section--brands .brands article .brand-preview .next-mobile {
      right: 0; }
    .section--brands .brands article .brand-preview .prev-mobile {
      left: 0; }
      .section--brands .brands article .brand-preview .prev-mobile img {
        transform: rotate(180deg); }
    .section--brands .brands article .brand-preview > img {
      width: 60%; }
  @media (max-width: 1000px) {
    .section--brands .brands article {
      flex-direction: column; }
      .section--brands .brands article .brand-description {
        width: 100%; } }
  .section--brands .brands article .swiper-wrapper {
    background: #9b9590; }
  .section--brands .brands article > .swiper-button-next:hover,
  .section--brands .brands article > .swiper-button-prev:hover {
    opacity: .5; }
  @media (max-width: 900px) {
    .section--brands .brands article > .swiper-button-next,
    .section--brands .brands article > .swiper-button-prev {
      display: none !important; } }
.section--cards {
  display: flex; }
  .section--cards .card-wrap {
    flex: 1;
    padding: 8vw 4vw;
    display: flex;
    align-items: center;
    justify-content: center; }
    .section--cards .card-wrap:first-child {
      background-color: #585b5c; }
    .section--cards .card-wrap:nth-child(2) {
      background-color: #74797a; }
    .section--cards .card-wrap .card {
      max-width: 350px;
      width: 100%;
      min-height: 500px;
      position: relative;
      overflow: hidden; }
      .section--cards .card-wrap .card .card-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        transition: all .4s; }
      .section--cards .card-wrap .card .card-inner {
        position: absolute;
        bottom: 0;
        padding: 1.5vw;
        z-index: 2; }
        .section--cards .card-wrap .card .card-inner h2 {
          font-size: 1.5vw; }
        .section--cards .card-wrap .card .card-inner p {
          font-size: 1.25rem; }
          .section--cards .card-wrap .card .card-inner p a {
            color: inherit;
            text-decoration: underline;
            font-size: inherit; }
        .section--cards .card-wrap .card .card-inner h2, .section--cards .card-wrap .card .card-inner p {
          color: #fff; }
        @media (max-width: 1200px) {
          .section--cards .card-wrap .card .card-inner h2 {
            font-size: 2.5rem;
            margin-bottom: .5rem; } }
      .section--cards .card-wrap .card:hover .card-bg {
        transform: scale(1.15); }
  @media (max-width: 767px) {
    .section--cards {
      flex-direction: column; } }
.section--footer {
  background: #000; }
  .section--footer h2 {
    margin: 0;
    font-family: 'Avenir Next';
    font-weight: bold;
    font-size: 2rem; }
  @media (min-width: 1200px) {
    .section--footer {
      font-size: 1.8vw; } }
  .section--footer h2, .section--footer a {
    color: #fff; }
  .section--footer .footer-links ul {
    margin-top: .85rem; }
    .section--footer .footer-links ul li:nth-child(n+2) {
      margin-top: 0.5rem; }
    .section--footer .footer-links ul li a {
      font-size: 1rem;
      display: block; }
  .section--footer .footer-contact p {
    color: #fff;
    line-height: 2;
    margin-top: .6rem;
    font-size: 1rem; }
  @media (min-width: 1200px) {
    .section--footer .footer-contact {
      font-size: 1.2vw; } }
  @media (max-width: 767px) {
    .section--footer .footer-contact {
      margin-top: 2rem; } }
  .section--footer .footer-info {
    padding: 4rem 0;
    background-color: #595150;
    background-size: cover; }
    @media (max-width: 767px) {
      .section--footer .footer-info {
        padding: 2rem 0; } }
  .section--footer .brands-line {
    padding: 1rem 0; }
    .section--footer .brands-line ul {
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .section--footer .brands-line ul li {
        max-width: 150px; }
        .section--footer .brands-line ul li img {
          width: 100%; }
    @media (max-width: 767px) {
      .section--footer .brands-line {
        padding: 1rem; }
        .section--footer .brands-line ul li {
          padding: .5rem; } }

.page-content {
  padding: 4rem 1rem; }

.content-block {
  display: flex; }
  .content-block .tabs {
    min-width: 20%;
    display: flex;
    flex-direction: column; }
    .content-block .tabs .tab {
      flex: 1;
      padding-bottom: 50%;
      position: relative; }
      .content-block .tabs .tab#jobs {
        background: #fff; }
      .content-block .tabs .tab#internship {
        background: #24373b;
        color: #fff; }
      .content-block .tabs .tab .tab-inner {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        cursor: pointer; }
        .content-block .tabs .tab .tab-inner:hover {
          font-weight: bold; }
  .content-block .content-inner {
    flex: 1;
    background: #9b9590;
    position: relative; }
    .content-block .content-inner .video-block {
      margin: 0 auto;
      background: #666;
      padding-top: 52.46332%;
      position: relative; }
      .content-block .content-inner .video-block video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .content-block .content-inner .tabs-content {
      position: absolute;
      width: 0;
      height: 0;
      top: 0;
      left: 0;
      transition: opacity .4s;
      transform-origin: center; }
      .content-block .content-inner .tabs-content.active {
        width: 100%;
        height: 100%; }
      .content-block .content-inner .tabs-content #jobs-content {
        background: #fff !important;
        color: #000; }
      .content-block .content-inner .tabs-content #internship-content {
        background: #24373b !important;
        color: #fff; }
      .content-block .content-inner .tabs-content .tab-inner-content {
        opacity: 0;
        width: 100%;
        height: 100%;
        transition: all .4s;
        padding: 4rem;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        overflow-y: scroll; }
        .content-block .content-inner .tabs-content .tab-inner-content .close-window {
          position: absolute;
          width: 20px;
          right: 10px;
          top: 10px;
          cursor: pointer; }
          .content-block .content-inner .tabs-content .tab-inner-content .close-window img {
            width: 100%; }
        .content-block .content-inner .tabs-content .tab-inner-content.active {
          opacity: 1;
          width: 100%;
          height: 100%;
          z-index: 100; }
    @media (max-width: 767px) {
      .content-block .content-inner {
        padding: 2rem; }
        .content-block .content-inner .tab-inner-content {
          padding: 2rem !important; } }
  @media (max-width: 767px) {
    .content-block {
      flex-direction: column; }
      .content-block .tabs {
        flex-direction: row; }
        .content-block .tabs .tab {
          padding-bottom: 20%; }
          .content-block .tabs .tab .tab-inner {
            font-size: 1.5rem; } }

.burger-icon {
  width: 40px;
  height: 30px;
  position: relative;
  z-index: 9001;
  margin: 10px 10px 0 0;
  cursor: pointer; }
  .burger-icon .top-bar, .burger-icon .middle-bar, .burger-icon .bottom-bar {
    display: block;
    height: 3px;
    width: 100%;
    background: #fff;
    position: absolute;
    transition: all .4s; }
  .burger-icon .top-bar {
    top: 0;
    transform-origin: left;
    left: 0; }
  .burger-icon .middle-bar {
    top: calc(50% - 1.5px); }
  .burger-icon .bottom-bar {
    top: calc(100% - 3px);
    left: 0;
    transform-origin: left; }

.why-baltika {
  display: flex; }
  .why-baltika .img-wrapper {
    width: 20%; }
    .why-baltika .img-wrapper img {
      width: 100%; }
  .why-baltika .text-wrapper {
    flex: 1;
    padding: 3rem; }
    .why-baltika .text-wrapper h2 {
      font-size: 2.5rem;
      margin-top: 0; }
    .why-baltika .text-wrapper p {
      line-height: 1.5; }
  @media (max-width: 900px) {
    .why-baltika {
      flex-direction: column; }
      .why-baltika .img-wrapper {
        height: 300px;
        width: 100%;
        background-position: top !important; } }

.banner {
  background: #000;
  overflow: hidden;
  padding-left: 5rem; }
  .banner h2 {
    color: #fff;
    font-size: 2.5rem; }
  @media (min-width: 1200px) {
    .banner {
      padding-left: 10vw; } }
  @media (max-width: 767px) {
    .banner {
      padding-left: 2rem; }
      .banner h2 {
        font-size: 2rem; } }

@keyframes blink {
  0% {
    opacity: .2; }
  20% {
    opacity: 1; }
  100% {
    opacity: .2; } }
@keyframes fadeOut {
  to {
    opacity: 0; } }
.menu-item-has-children {
  position: relative; }
  .menu-item-has-children:hover .sub-menu {
    display: block !important; }
  .menu-item-has-children:hover > a:after {
    transform: translateY(0.125rem) rotate(135deg); }
  .menu-item-has-children > a:after {
    content: '' !important;
    display: inline-block;
    width: .625rem;
    height: .625rem;
    margin-left: .625rem;
    border-bottom: .125rem solid #fff;
    border-left: .125rem solid #fff;
    -webkit-transform: translateY(-0.1875rem) rotate(-45deg);
    -o-transform: translateY(-0.1875rem) rotate(-45deg);
    transform: translateY(-0.1875rem) rotate(-45deg);
    -webkit-transition: border-left 175ms ease-in-out,border-bottom 175ms ease-in-out,-webkit-transform 175ms ease-in-out;
    transition: border-left 175ms ease-in-out,border-bottom 175ms ease-in-out,-webkit-transform 175ms ease-in-out;
    -o-transition: border-left 175ms ease-in-out,border-bottom 175ms ease-in-out,-o-transform 175ms ease-in-out;
    transition: transform 175ms ease-in-out,border-left 175ms ease-in-out,border-bottom 175ms ease-in-out;
    transition: transform 175ms ease-in-out,border-left 175ms ease-in-out,border-bottom 175ms ease-in-out,-webkit-transform 175ms ease-in-out,-o-transform 175ms ease-in-out; }

.sub-menu {
  width: 200px;
  position: absolute;
  top: 100%;
  left: 0;
  display: none !important;
  background-color: #292826;
  -webkit-box-shadow: 0 0.3125rem 1.5625rem rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 0.3125rem 1.5625rem rgba(0, 0, 0, 0.2) !important; }
  .sub-menu li {
    display: block !important; }
    .sub-menu li a {
      display: block !important;
      padding-top: 1.25rem !important;
      padding-bottom: .9375rem !important;
      color: #fff;
      padding-left: .5rem !important; }
      .sub-menu li a:hover {
        background: #1f1e1d; }

/*# sourceMappingURL=style.css.map */
