/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

// @font-face {
//     font-family: 'Avenir';
//     src: url('../fonts/AvenirNext-Regular.ttf') format('truetype');
//     src: url('../fonts/AvenirNext-Regular.eot');
//     font-weight: 300;
// }

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirNext-Regular.eot');
    src: local('../fonts/AvenirNext-Regular'),
        url('../fonts/AvenirNext-Regular.eot') format('embedded-opentype'),
        url('../fonts/AvenirNext-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/Avenir-Light.eot');
    src: local('../fonts/Avenir-Light'),
        url('../fonts/Avenir-Light.eot') format('embedded-opentype'),
        url('../fonts/Avenir-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/Avenir-Light.eot');
    src: local('../fonts/Avenir-Light'),
        url('../fonts/Avenir-Light.eot') format('embedded-opentype'),
        url('../fonts/Avenir-Light.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

// @font-face {
//     font-family: 'Avenir Next';
//     src: url('../fonts/AvenirNext-Bold.ttf') format('truetype');
//     src: url('../fonts/AvenirNext-Bold.eot');
//     font-weight: bold;
// }

// @font-face {
//     font-family: 'Avenir Next';
//     src: url('../fonts/Avenir-Light.ttf') format('truetype');
//     src: url('../fonts/Avenir-Light.eot');
//     font-weight: 100;
// }

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    margin: 0;
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'Avenir Next';
}

h1, h2, h3 {
    font-family: 'Avenir', sans-serif;
    letter-spacing: 2px;
}

.light {
    font-family: 'Avenir', sans-serif;
    font-weight: 100;
}

*::-moz-selection {
    background: rgba(255,172,86,.3);
  }

*::selection {
    background: rgba(255,172,86,.3);
  }

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    font-size: 14px;
}

.text-center {
    text-align: center;
}

.btn {
    padding: 1rem 3rem;
    display: inline-block;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;

    &--brown {
        background: #292826;
        color: #fff;
    }
    
    &:hover {
        background: #1f1e1d;
    }
}

#loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 9999;
    pointer-events: none;

    .logo-loader {
        position: relative;
        max-width: 250px;
        z-index: 10;
        -webkit-animation: fadeOut .8s;
                animation: fadeOut .8s;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
        -webkit-animation-delay: 2s;
                animation-delay: 2s;
        img {
            width: 100%;
        }

        small {
            text-align: center;
            display: block;
            color: #fff;

            span {
                -webkit-animation-name: blink;
                        animation-name: blink;
                -webkit-animation-duration: 1.4s;
                        animation-duration: 1.4s;
                -webkit-animation-iteration-count: infinite;
                        animation-iteration-count: infinite;
                -webkit-animation-fill-mode: both;
                        animation-fill-mode: both;

                &:nth-child(2) {
                    -webkit-animation-delay: .2s;
                            animation-delay: .2s;
                }
                
                &:nth-child(3) {
                    -webkit-animation-delay: .4s;
                            animation-delay: .4s;
                }
            }
        }
    }

    .lines {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;

        .line {
            -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1;
            background: #9b9590;

            &:first-child {
                -webkit-animation: slideLeft .8s;
                        animation: slideLeft .8s;
                -webkit-animation-fill-mode: forwards;
                        animation-fill-mode: forwards;
                -webkit-animation-timing-function: ease-in-out;
                        animation-timing-function: ease-in-out;
                -webkit-animation-delay: 2.1s;
                        animation-delay: 2.1s;
            }
            &:nth-child(2) {
                -webkit-animation: slideRight .8s;
                        animation: slideRight .8s;
                -webkit-animation-delay: 2.2s;
                        animation-delay: 2.2s;
                -webkit-animation-fill-mode: forwards;
                        animation-fill-mode: forwards;
                -webkit-animation-timing-function: ease-in-out;
                        animation-timing-function: ease-in-out;
            }
            &:nth-child(3) {
                -webkit-animation: slideLeft .8s;
                        animation: slideLeft .8s;
                -webkit-animation-delay: 2.6s;
                        animation-delay: 2.6s;
                -webkit-animation-fill-mode: forwards;
                        animation-fill-mode: forwards;
                -webkit-animation-timing-function: ease-in-out;
                        animation-timing-function: ease-in-out;
            }
            &:nth-child(4) {
                -webkit-animation: slideRight .8s;
                        animation: slideRight .8s;
                -webkit-animation-delay: 2.8s;
                        animation-delay: 2.8s;
                -webkit-animation-fill-mode: forwards;
                        animation-fill-mode: forwards;
                -webkit-animation-timing-function: ease-in-out;
                        animation-timing-function: ease-in-out;

                @media(max-width: 767px) {
                    display: none;
                }
            }
        }
    }
}

@-webkit-keyframes slideLeft {
    to {
        -webkit-transform: translate3d(100%, 0, 0);
                transform: translate3d(100%, 0, 0);
    }
}

@keyframes slideLeft {
    to {
        -webkit-transform: translate3d(100%, 0, 0);
                transform: translate3d(100%, 0, 0);
    }
}
@-webkit-keyframes slideRight {
    to {
        -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);
    }
}
@keyframes slideRight {
    to {
        -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);
    }
}

nav {

    &.desktop-menu {
        @media(max-width: 767px) {
            display: none;
        }
    }

    &.mobile-menu {
        @media(min-width: 768px) {
            display: none;
        }

        .black-fade {
            position: fixed;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.75);
            left: 0;
            top: 0;
            z-index: 8999;
            display: none;
        }

        .menu-box {
            background: rgba(34, 34, 34, .9);
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            z-index: 9000;
            -webkit-transition: all .4s;
            -o-transition: all .4s;
            transition: all .4s;
            -webkit-transform: translateX(100%);
                -ms-transform: translateX(100%);
                    transform: translateX(100%);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            text-align: center;

            .sub-menu{
                width: 100%;
                position: relative;
                -webkit-transition: all 1s;
                -o-transition: all 1s;
                transition: all 1s;
                max-height: 0;
                overflow: hidden;
            }

            .menu-item-has-children {
                &:hover {
                    .sub-menu {
                        max-height: 600px !important;
                    }
                }
            }

            ul {
                width: 100%;
                li {
                    a {
                        color: #fff;
                        padding: .75rem;
                        display: block;
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }

    .logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 2rem 0;
    }

    .menu-wrap {
        max-width: 900px;
        margin: 0 auto;
        border-bottom: 1px solid rgba(255,255,255,.5);
        padding-bottom: .5rem;

        ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;

            li {
                a {
                    display: block;
                    color: #fff;
                    padding: .2rem 2rem;
                    -webkit-transition: all .4s;
                    -o-transition: all .4s;
                    transition: all .4s;
                    font-size: 14px;

                    @media(min-width: 1200px) {
                        font-size: 1vw;
                    }

                    @media(max-width: 767px) {
                        padding: .2rem 1rem;
                    }

                    &:hover {
                        color: #999;
                    }
                }

                &:first-child {
                    a {
                        padding-left: 0;
                    }
                }
            }
        }
    }
}

.mobile-logo {
    margin-top: 1rem;
}

.menu-opened {


    .mobile-menu {
        
        .black-fade {
            display: block;
        }


        .burger-icon {
            position: fixed;
            .bottom-bar {
                -webkit-transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                left: 5px;
            }

            .middle-bar {
                opacity: 0;
            }

            .top-bar {
                -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                left: 5px;
            }
        }
    }

    .menu-box {
        -webkit-transform: translateX(0) !important;
            -ms-transform: translateX(0) !important;
                transform: translateX(0) !important;
    }
}

.section {

    &--hero {
        min-height: 700px;
        background-size: cover;

        &.page {
            min-height: 400px;
            
            .hero-content {
                padding-top: 3rem;
            }
        }


        .hero-content {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            padding-top: 7rem;

            h2 {
                color: #fff;
                font-size: 3rem;
                margin-bottom: 1rem;

                @media(min-width: 1200px) {
                    font-size: 3vw;
                }
            }

            button {
                outline: 0;
                background: #fff;
                border-radius: 0;
                border: none;
                padding: .75rem 1.5rem;
                font-size: 1rem;
                -webkit-transition: all .4s;
                -o-transition: all .4s;
                transition: all .4s;
                cursor: pointer;

                @media(min-width: 1200px) {
                    font-size: 1.2vw;
                }

                &:hover {
                    -webkit-transform: translateY(5px);
                        -ms-transform: translateY(5px);
                            transform: translateY(5px);
                }
            }
        }

        @media(max-width: 767px) {
            min-height: auto;

            .hero-content {
                padding: 3rem 0;
            }
        }
    }

    &--brands {
        header {
            max-width: 600px;
            margin: 0 auto;
            padding: 3rem 0;
            background: #fff;

            ul {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;

                li {
                    font-size: 2rem;
                    border-bottom: 3px solid;
                    border-color: transparent;
                    -webkit-transition: all .4s;
                    -o-transition: all .4s;
                    transition: all .4s;

                    &:hover {
                        border-color: black;
                    }
                }

            }
            @media(max-width: 767px) {

                ul {
                    -ms-flex-pack: distribute;
                        justify-content: space-around;
                    li {
                        font-size: 1.25rem;
                    }
                }
            }

        }
        .brands {
            article {
                min-height: 650px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;

                &:nth-child(even) {
                    @media(max-width: 900px) {
                        .brand-preview {
                            -webkit-box-ordinal-group:2;
                                -ms-flex-order:1;
                                    order:1;
                        }

                        .brand-description {
                            -webkit-box-ordinal-group:1;
                                -ms-flex-order:0;
                                    order:0;
                        }
                    }
                }

                @media(max-width: 767px) {
                    min-height: auto;
                }

                .brand-description {
                    background: #fff;
                    padding: 4rem;
                    width: 35%;
                    min-width: 350px;

                    @media(max-width: 767px) {
                        padding: 2rem;
                    }

                    h2 {
                        font-size: 2rem;
                    }

                    p {
                        font-size: 1rem;
                    }

                    @media(min-width: 1200px) {
                        h2 {
                            font-size: 2.5vw;
                        }
    
                        p {
                            font-size: 1.1vw;
                        }
                    }
                }

                .brand-preview {
                    background: #9b9590;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    -webkit-box-flex: 1;
                        -ms-flex-positive: 1;
                            flex-grow: 1;
                    padding: 8vw 0;
                    position: relative;
                    
                    .next-mobile,
                    .prev-mobile {
                        position: absolute;
                        background: #716f6e;
                        top: -17px;
                        padding: .25rem;
                        z-index: 8888;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        height: 32px;

                        @media(min-width: 901px) {
                            display: none;
                        }

                        img {
                            width: 30px;
                        }
                    }

                    .next-mobile {
                        right: 0;
                    }

                    .prev-mobile {
                        left: 0;

                        img {
                            -webkit-transform: rotate(180deg);
                                -ms-transform: rotate(180deg);
                                    transform: rotate(180deg);
                        }
                    }

                    > img {
                        width: 60%;
                    }
                }

                @media(max-width: 1000px) {
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;

                    .brand-description {
                        width: 100%;
                    }
                }

                .swiper-wrapper {
                    background: #9b9590;
                }

                > .swiper-button-next,
                > .swiper-button-prev {

                    
                    &:hover {
                        opacity: .5;
                    }
                    
                    @media(max-width: 900px) {
                        display: none !important;
                    }
                }
            }
        }
    }

    &--cards {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        .card-wrap {
            -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1;
            padding: 8vw 4vw;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;

            &:first-child {
                background-color: #585b5c;
            }

            &:nth-child(2) {
                background-color:#74797a;
            }

            .card {
                max-width: 350px;
                width: 100%;
                min-height: 500px;
                position: relative;
                overflow: hidden;

                .card-bg {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 0;
                    -webkit-transition: all .4s;
                    -o-transition: all .4s;
                    transition: all .4s;
                }

                .card-inner {
                    position: absolute;
                    bottom: 0;
                    padding: 1.5vw;
                    z-index: 2;

                    h2 {
                        font-size: 1.5vw;
                    }
                    
                    p {
                        font-size: 1.25rem;

                        a {
                            color: inherit;
                            text-decoration: underline;
                            font-size: inherit;
                        }
                    }

                    h2, p {
                        color: #fff;
                    }

                    @media(max-width: 1200px) {
                        h2 {
                            font-size: 2.5rem;
                            margin-bottom: .5rem;
                        }
                    }
                }

                &:hover {
                    .card-bg {
                        -webkit-transform: scale(1.15);
                            -ms-transform: scale(1.15);
                                transform: scale(1.15);
                    }
                }
            }
        }

        @media(max-width: 767px) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
    }

    &--footer {
        background: #000;

        h2 {
            margin: 0;
            font-family: 'Avenir Next';
            font-weight: bold;
            font-size: 2rem;
        }

        @media(min-width: 1200px) {
            font-size: 1.8vw;
        }

        h2, a {
            color: #fff;
        }

        .footer-links {

            ul {
                margin-top: .85rem;
                li {

                    &:nth-child(n+2) {
                        margin-top: 0.5rem;
                    }

                    a {
                        font-size: 1rem;
                        display: block;
                    }
                }
            }
        }

        .footer-contact {
            p {
                color: #fff;
                line-height: 2;
                margin-top: .6rem;
                font-size: 1rem;
            }

            @media(min-width: 1200px) {
                font-size: 1.2vw;
            }

            @media(max-width: 767px) {
                margin-top: 2rem;
            }
        }

        .footer-info {
            padding: 4rem 0;
            background-color: #595150;
            background-size: cover;

            @media(max-width: 767px) {
                padding: 2rem 0;
            }
        }

        .brands-line {
            padding: 1rem 0;
            ul {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-pack: distribute;
                    justify-content: space-around;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                li {
                    max-width: 150px;
                    img {
                        width: 100%;
                    }
                }
            }

            @media(max-width: 767px) {
                padding: 1rem;

                ul {
                    li {
                        padding: .5rem;
                    }
                }
            }
        }
    }
}

.page-content {
    padding: 4rem 1rem;

}

.content-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    .tabs {
        min-width: 20%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

        .tab {
            -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1;
            padding-bottom: 50%;
            position: relative;

            &#jobs {
                background: #fff;
            }

            &#internship {
                background: #24373b;
                color: #fff;
            }

            .tab-inner {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                font-size: 2rem;
                cursor: pointer;

                &:hover {
                    font-weight: bold;
                }
            }
        }
    }

    .content-inner {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        background: #9b9590;
        position: relative;
        
        .video-block {
            margin: 0 auto;
            background: #666;
            padding-top: 591.44px / 1127.34px * 100%;
            
            position: relative;
            video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                   object-fit: cover;
                background: #fff;
            }
        }

        .tabs-content {
            position: absolute;
            width: 0;
            height: 0;
            top: 0;
            left: 0;
            -webkit-transition: opacity .4s;
            -o-transition: opacity .4s;
            transition: opacity .4s;
            -webkit-transform-origin: center;
                -ms-transform-origin: center;
                    transform-origin: center;

            &.active {
                width: 100%;
                height: 100%;
            }

            #jobs-content {
                background: #fff !important;
                color: #000;
            }

            #internship-content {
                background: #24373b !important;
                color: #fff;
            }

            .tab-inner-content {
                opacity: 0;
                width: 100%;
                height: 100%;
                -webkit-transition: all .4s;
                -o-transition: all .4s;
                transition: all .4s;
                padding: 4rem;
                overflow: hidden;
                position: absolute;
                left: 0;
                top: 0;
                z-index: -1;
                overflow-y: scroll;

                .close-window {
                    position: absolute;
                    width: 20px;
                    right: 10px;
                    top: 10px;
                    cursor: pointer;

                    img {
                        width: 100%;
                    }
                }

                &.active {
                    opacity: 1;
                    width: 100%;
                    height: 100%;
                    z-index: 100;
                }
            }
        }

        @media(max-width: 767px) {
            padding: 2rem;

            .tab-inner-content {
                padding: 2rem !important;
            }
        }
    }

    @media(max-width: 767px) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

        .tabs {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;

            .tab {
                padding-bottom: 20%;
                .tab-inner {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

.burger-icon {
    width: 40px;
    height: 30px;
    position: relative;
    z-index: 9001;
    margin: 10px 10px 0 0;
    cursor: pointer;

    .top-bar, .middle-bar, .bottom-bar {
        display: block;
        height: 3px;
        width: 100%;
        background: #fff;
        position: absolute;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s;
    }

    .top-bar {
        top: 0;
        -webkit-transform-origin: left;
            -ms-transform-origin: left;
                transform-origin: left;
        left: 0;
    }

    .middle-bar {
        top: calc(50% - 1.5px);
    }

    .bottom-bar {
        top: calc(100% - 3px);
        left: 0;
        -webkit-transform-origin: left;
            -ms-transform-origin: left;
                transform-origin: left;
    }
}

.why-baltika {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    .img-wrapper {
        width: 20%;

        img {
            width: 100%;
        }
    }

    .text-wrapper {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        padding: 3rem;

        h2 {
            font-size: 2.5rem;
            margin-top: 0;
        }

        p {
            line-height: 1.5;
        }
    }

    @media(max-width: 900px) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

        .img-wrapper {
            height: 300px;
            width: 100%;
            background-position: top !important;
        }
    }
}

.banner {
    background: #000;
    overflow: hidden;
    padding-left: 5rem;
    h2 {
        color: #fff;
        font-size: 2.5rem;
    }

    @media(min-width: 1200px) {
        padding-left: 10vw;
    }

    @media(max-width: 767px) {
        padding-left: 2rem;
        h2 {
            font-size: 2rem;
        }
    }
}

@-webkit-keyframes blink {
    0% {
      opacity: .2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: .2;
    }
}

@keyframes blink {
    0% {
      opacity: .2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: .2;
    }
}

@-webkit-keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.menu-item-has-children {
    position: relative;
    &:hover {
        .sub-menu {
            display: block !important;
        }

        > a {

            &:after {
                -webkit-transform: translateY(.125rem) rotate(135deg);
                    -ms-transform: translateY(.125rem) rotate(135deg);
                        transform: translateY(.125rem) rotate(135deg);
            }
        }
    }
    
    > a {
        &:after {
            content: '' !important;
            display: inline-block;
            width: .625rem;
            height: .625rem;
            margin-left: .625rem;
            border-bottom: .125rem solid #fff;
            border-left: .125rem solid #fff;
            -webkit-transform: translateY(-.1875rem) rotate(-45deg);
            -ms-transform: translateY(-.1875rem) rotate(-45deg);
                transform: translateY(-.1875rem) rotate(-45deg);
            -webkit-transition: border-left 175ms ease-in-out,border-bottom 175ms ease-in-out,-webkit-transform 175ms ease-in-out;
            transition: border-left 175ms ease-in-out,border-bottom 175ms ease-in-out,-webkit-transform 175ms ease-in-out;
            -o-transition: border-left 175ms ease-in-out,border-bottom 175ms ease-in-out,-o-transform 175ms ease-in-out;
            -o-transition: transform 175ms ease-in-out,border-left 175ms ease-in-out,border-bottom 175ms ease-in-out;
            transition: transform 175ms ease-in-out,border-left 175ms ease-in-out,border-bottom 175ms ease-in-out;
            transition: transform 175ms ease-in-out,border-left 175ms ease-in-out,border-bottom 175ms ease-in-out,-webkit-transform 175ms ease-in-out;
        }
    }
}

.sub-menu {
    width: 200px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #292826;
    -webkit-box-shadow: 0 0.3125rem 1.5625rem rgba(0,0,0,.2) !important;
    box-shadow: 0 0.3125rem 1.5625rem rgba(0,0,0,.2) !important;

    @media(min-width: 768px) {
        display: none !important;
    }
    
    li {
        display: block !important;
        
        a {
            display: block !important;
            padding-top: 1.25rem !important;
            padding-bottom: .9375rem !important;
            color: #fff;
            padding-left: .5rem !important;

            &:hover {
                background: #1f1e1d;
            }
        }
    }
}

.show-ie-inline-block {
    display: none;
}

.IE11 {

    .show-ie-inline-block {
        display: inline-block;
    }

    .hide-ie {
        display: none;
    }

    .hero-content {
        h2 {
            font-family: 'Avenir Next' !important;
        }
    }

    [data-sal] {
        opacity: 1 !important;
    }

    [data-sal=slide-up] {
        transform: translateY(0) !important;
    }
    [data-sal=slide-left],
    [data-sal=slide-right] {
        transform: translateX(0) !important;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 25px;
    }
 }